<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd 404 - Strona nie znaleziona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Błąd 404</h1>
        <p>Przepraszamy, strona której szukasz, nie istnieje.</p>
        <a href="{{ url_for('home') }}" class="btn btn-primary">Wróć na stronę główną</a>
    </div>
</body>
</html>
